#top-nav-bar{
    background-color: #f2d480;
    border-bottom: 1px solid #f29b80;
    height: 50px;
    line-height: 50px;
    position: sticky;
    width: 100%;
    text-align: center;
    position:fixed;
    z-index: 1;
}

.warpper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.warpper li{
    display: inline-block;
}

.warpper a{
    padding: 0.2em 1em 0.2em 1em;
    margin: 0.6em 0.2em 0.6em 0.2em;
    font-weight: 600;
    color: #f29b80;
    text-decoration: none;
    border-radius: 8px;
}
