#MarkdownTopNavBar{
    background-color: #f2d480;
    border-bottom: 1px solid #f29b80;
    height: 5vh;
    line-height: 50px;
    width: 100%;
    text-align: center;
    position:sticky;
}

.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.option{
    display: inline-block;
    width: 100px;
    color: white;
}

.option:visited{
    color: white;
}