

#main-wrapper{
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main";
    grid-template-columns: minmax(100px, 1fr) 6fr;
    padding-left: 1.5rem;
    padding-right: 3rem;
}